{% extends 'base.html' %}

{% block content %}
    <div class="auth-form main-content">
        <fieldset>
          <legend><h3>Log In</h3></legend>
          <form method="post">
            <div class="auth-field">
                <label for="username">Username:</label>
                <input name="username" id="username" required>
            </div>
            <div class="auth-field">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="auth-field">
                <input type="submit" value="Log In">
            </div>
          </form>
      </fieldset>
    </div>
{% endblock %}
