{% extends 'base.html' %}

{% block header %}
<script src="{{ url_for('static', filename='new_form.js') }}" defer></script>
{% endblock %}

{% block content %}
<button onclick="new_field()">New field</button>
<button onclick="new_info()">New information</button>
<div id="fields"></div>
<br><input id="hide_results" type="checkbox">Make results private.</input>
<br><input id="disallow_anon_answer" type="checkbox">Block non-logged in users from answering.</input>
<br><button onclick="submit_form()">Create Form</button>
{% endblock %}
