html, body {
    background-color: #EEEEEE;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #111111;
    color: white;
    overflow: hidden;
    display: flex;
    width: calc(100% - 10px);
    padding: 5px;
}

nav h1 {
   float: left;
   display: block;
   vertical-align: middle;
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 10px;
}

nav ul {
    display: block;
    list-style-type: none;
    overflow: visible;
    margin-left: auto;
}

nav li {
    margin-right: 20px;
    display: inline;
    float: right;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.content {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.content ul {
    padding: 0px;
    border: 1px solid #CCCCCC;
}

.content li {
    list-style-type: none;
}

.content li:nth-child(odd) {
    background-color: white;
}

.content li:nth-child(even) {
    background-color: #DDDDDD;
}

table {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

td, th {
  border: 1px solid #CCCCCC;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #DDDDDD;
}
