html, body {
    background-color: #EEEEEE;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #111111;
    color: white;
    display: flex;
    width: calc(100% - 10px);
    padding: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}

nav h1, footer li {
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 10px;
}

nav ul, footer ul {
    list-style-type: none;
    margin-left: auto;
}

nav li, footer li {
    margin-right: 20px;
    float: right;
}

nav a, footer a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #111111;
    color: white;
    padding: 10px;
    display: flex;
    height: 10%;
    margin-top: 20px;
    max-height: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

.content {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    flex-grow: 1;
}

.content ul {
    padding: 0px;
    border: 1px solid #CCCCCC;
}

.content li {
    list-style-type: none;
}

.content li:nth-child(odd) {
    background-color: white;
}

.content li:nth-child(even) {
    background-color: #DDDDDD;
}

table {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

td, th {
  border: 1px solid #CCCCCC;
  padding: 5px;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #DDDDDD;
}

p {
    white-space: pre-wrap;
}

@media screen and (max-width: 800px) {
    .user-form input[type="text"] {
        width: 95%;
    }

    .user-form input[type="number"] {
        width: 95%;
    }

    .main-content {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 800px) {
    .user-form input[type="text"] {
        width: 99%;
    }

    .user-form input[type="number"] {
        width: 99%;
    }

    .main-content {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* --- LOGIN/REGISTER PAGE START ---- */

.auth-form {
    display: table;
    margin: 0 auto;
}

.auth-field {
    display: table-row;
}

.auth-field label {
    display: table-cell;
    padding-bottom: 7px;
    padding-right: 10px;
}

.auth-field input {
    display: table-cell;
}

/* ---- LOGIN/REGISTER PAGE END ---- */
